body {
    margin: 0;
    
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: #FFFFFF;
}

#section-header {
    position: relative;
    height: 100vh;
    
    background-image: url("img/servers.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
/*    background-attachment: fixed;*/
    
    text-align: center;
    text-shadow: -2px 5px 5px #000000;
}

#name {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    font-size: 2em;
    font-weight: 600;
    line-height: 2em;
}

#title {
    font-size: 0.5em;
    line-height: 1.5em;
}

#section-header h1,
#section-header p {
    margin: 0;
}

#btn-hire-me {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 2em;
    color: #D67902;
    background-color: transparent;
    border: 2px solid #D67902;
    
    transition: all 0.3s ease 0s;
}

#btn-hire-me:hover,
#btn-hire-me:active,
#btn-hire-me:focus {
    color: #FFFFFF;
    background-color: #D67902;
}

#learn-more {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: #FFFFFF;
    font-size: 1.5em;
    text-shadow: none;
}

/* Icon pulse */
.fa-pulse {
	display: inline-block;
	-moz-animation: pulse 1s infinite linear;
	-o-animation: pulse 1s infinite linear;
	-webkit-animation: pulse 1s infinite linear;
	animation: pulse 1s infinite linear;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

#section-bio {
    margin-top: -1px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    
    text-align: center;
    font-size: 1em;
    background-color: #000000;
}

#section-bio h1,
#section-bio p,
#section-skills h1{
    margin-top: 0;
}

#section-bio h1 {
    display: inline-block;
    padding-top: 0.5em;
    
    border-bottom: 2px solid #D67902;
}

#section-timeline-overlay {
    background-color: #000000;
}

#section-timeline {
    padding-bottom: 1em;
    
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/cliffside.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
/*    background-attachment: fixed;*/
    
    text-align: center;
}

#section-timeline h1 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
    
    border-bottom: 2px solid #D67902;
}

#section-timeline-items {
    position: relative;
    
    padding-bottom: 0.0625em;
}

#section-timeline-items:before {
    content: "";
    
    position: absolute;
    top: 0;
    left: 10px;
    
    height: 100%;
    width: 2px;
    
    background-color: #D67902;
}

.timeline-item {
    position: relative;
    
    margin: 2em;
    
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.7);
    
    font-size: 0.75em;
}

.timeline-item:before {
    content: "";
    
    position: absolute;
    top: 10%;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.7);
}

.timeline-item-content {
    padding: 0.25em;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
}

#timeline-arrow {
    display: block;
    margin-left: 5.5px;
    margin-top: -2px;
    
    text-align: left;
    font-size: 0.7em;
    color: #D67902;
}

#section-skills {
    padding-bottom: 1em;
    
    text-align: center;
    font-size: 1em;
    background-color: #000000;
}

#skill-icons {
    color: #D67902;
}

.skill-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 1.5em;
    margin-bottom: 3em;
}

.skill-icon {
    padding: 0.25em;
    margin: 0.125em;
    
    font-size: 3em;
    
    border: 2px solid #D67902;
    border-radius: 50%;
    
    transition: all 0.3s ease 0s;
}

.skill-icon:hover,
.skill-icon:active,
.skill-icon:focus {
    color: #FFFFFF;
    background-color: #D67902;
}

.skill-title {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, 0);
    
    display: none;
    margin-top: 1em;
    
    font-weight: 600;
}

#section-skills h1 {
    display: inline-block;
    border-bottom: 2px solid #D67902;
}

#section-hire-me {
    position: relative;
    height: 100vh;
    
    background-color: #000000;
    text-align: center;
}

#contact-me {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    font-size: 1.5em;
}

#section-hire-me h1 {
    display: inline-block;
    border-bottom: 2px solid #D67902;
}

#section-hire-me p {
    margin: 0;
}

#section-hire-me a {
    color: #D67902;
    text-decoration: none;
}

@media only screen and (min-width: 90em) {
    #section-header {
        background-position: center;
    }
}
